:root {
    font-size: 62.5%;

    --color-blue-green-text: #2EB897;
    --color-blue-green-additional: #11AE88;
    --color-blue: #2A84EE;
    --color-gray: #6C778E;
    --color-lilac-wb: #702A8A;
    --color-sapphirine-ozon: #1065FF;

    --background-gray: #EAF3FD;
    --background-light-gray: #F6FAFF;

    --gradient-left-to-right: linear-gradient(91deg, #11AE88 5.69%, #2A84EE 125.81%), #2EB897;
    --gradient-right-to-left: linear-gradient(91deg, #2A84EE 5.69%, #11AE88 169.72%), #11AE88;

    --radius-segment: 10px;
    --radius-button: 30px;
    --radius-sale-birk: 0 10px;

    --marquee-width: 100vw;
    --marquee-height: 600px;
    --marquee-speed: 10s;
}

.card-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    perspective: 1000px;
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #67B0F2;
}

.card-back {
    background-color: #F27867;
    transform: rotateY(180deg);
}


.running-images {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: var(--marquee-width);
    height: var(--marquee-height);
    overflow: hidden;
    position: relative;
}

.running-images img {
    width: 25%;
    position: absolute;
    left: 100%;
    animation: running-images 5s linear infinite;

  
}

.running-images img:nth-child(1) {
    animation-delay: 0s;
}

.running-images img:nth-child(2) {
    animation-delay: -2s;
}

.running-images img:nth-child(3) {
    animation-delay: -4s;
}

.running-images img:nth-child(4) {

    animation-delay: -6s;
}

.running-images img:nth-child(5) {

    animation-delay: -8s;
}

@keyframes running-images {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-600%);
    }
}
html{
    overflow: hidden;
}