:root {
    font-size: 62.5%;
  
    --color-blue-green-text: #2EB897;
    --color-blue-green-additional: #11AE88;
    --color-blue: #2A84EE;
    --color-gray: #6C778E;
    --color-lilac-wb: #702A8A;
    --color-sapphirine-ozon: #1065FF;
  
    --background-gray: #EAF3FD;
    --background-light-gray: #F6FAFF;
    
    --gradient-left-to-right: linear-gradient(91deg, #11AE88 5.69%, #2A84EE 125.81%), #2EB897;
    --gradient-right-to-left: linear-gradient(91deg, #2A84EE 5.69%, #11AE88 169.72%), #11AE88;
    
    --radius-segment: 10px;
    --radius-button: 30px;
    --radius-sale-birk: 0 10px;
  }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
 }
 label {
    font-size: 2rem;
    font-weight: bold;
}

fieldset {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

fieldset > div {
    margin-bottom: 15px;
}

fieldset > div label {
    display: block;
    margin-bottom: 5px;
}

fieldset > div input,
fieldset > div select {
    width: 100%;
    padding: 8px;
    border-radius: var(--radius-segment);
    border: 1px solid var(--color-gray);
}

fieldset > div input[type="checkbox"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: var(--radius-button);
    background-color: var(--color-blue);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.6rem;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: var(--color-blue-green-text);
}

legend{
    font-size: 3rem;
    font-weight: bold;
}