*after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 12px;
    --text-main: #ff000f --text-accent: #00ff00
}

.head {
    display: inline-flex;

}

@font-face {
    font-display: swap;
    font-family: 'NT Somic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NTSomic-Regular.woff2') format('woff2');
}

